workflows/core/03-system-monitoring.json
{
    "name": "Research Reports - Monitoring Dashboard",
    "nodes": [
      {
        "parameters": {
          "path": "research-dashboard",
          "responseMode": "responseNode",
          "options": {
            "responseContentType": "text/html"
          }
        },
        "id": "webhook",
        "name": "Dashboard Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 400],
        "webhookId": "research-dashboard"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Get overview of all reports\nSELECT \n  rc.id,\n  rc.report_name,\n  rc.topic,\n  rc.is_active,\n  array_length(rc.keywords, 1) as keyword_count,\n  COUNT(DISTINCT pc.id) as total_content_processed,\n  COUNT(DISTINCT CASE \n    WHEN pc.processed_at >= CURRENT_DATE - INTERVAL '7 days' \n    THEN pc.id \n  END) as content_this_week,\n  COUNT(DISTINCT i.id) as total_insights,\n  COUNT(DISTINCT CASE \n    WHEN i.created_at >= CURRENT_DATE - INTERVAL '7 days' \n    THEN i.id \n  END) as insights_this_week,\n  MAX(pc.processed_at) as last_processed,\n  MAX(wr.created_at) as last_report_date\nFROM report_configs rc\nLEFT JOIN processed_content pc ON rc.id = pc.report_config_id\nLEFT JOIN insights i ON rc.id = i.report_config_id\nLEFT JOIN weekly_reports wr ON rc.id = wr.report_config_id\nGROUP BY rc.id, rc.report_name, rc.topic, rc.is_active, rc.keywords\nORDER BY rc.is_active DESC, insights_this_week DESC;",
          "options": {}
        },
        "id": "get_overview",
        "name": "Get Reports Overview",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.2,
        "position": [400, 400],
        "credentials": {
          "postgres": {
            "id": "{{postgresCredentialId}}",
            "name": "Research DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Get recent top insights across all reports\nSELECT \n  rc.report_name,\n  rc.topic,\n  i.title,\n  i.summary,\n  i.insight_type,\n  i.importance_score,\n  i.created_at\nFROM insights i\nJOIN report_configs rc ON i.report_config_id = rc.id\nWHERE i.created_at >= CURRENT_DATE - INTERVAL '7 days'\n  AND i.importance_score >= 0.7\nORDER BY i.importance_score DESC, i.created_at DESC\nLIMIT 10;",
          "options": {}
        },
        "id": "get_insights",
        "name": "Get Top Insights",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.2,
        "position": [600, 300],
        "credentials": {
          "postgres": {
            "id": "{{postgresCredentialId}}",
            "name": "Research DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Get processing statistics\nWITH daily_stats AS (\n  SELECT \n    DATE(processed_at) as process_date,\n    report_config_id,\n    COUNT(*) as items_processed\n  FROM processed_content\n  WHERE processed_at >= CURRENT_DATE - INTERVAL '7 days'\n  GROUP BY DATE(processed_at), report_config_id\n)\nSELECT \n  process_date,\n  SUM(items_processed) as total_processed,\n  COUNT(DISTINCT report_config_id) as active_reports,\n  json_agg(\n    json_build_object(\n      'report_id', report_config_id,\n      'count', items_processed\n    )\n  ) as breakdown\nFROM daily_stats\nGROUP BY process_date\nORDER BY process_date DESC;",
          "options": {}
        },
        "id": "get_stats",
        "name": "Get Processing Stats",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.2,
        "position": [600, 500],
        "credentials": {
          "postgres": {
            "id": "{{postgresCredentialId}}",
            "name": "Research DB"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Create dashboard HTML\nconst reports = $('Get Reports Overview').all().map(item => item.json);\nconst insights = $('Get Top Insights').all().map(item => item.json);\nconst stats = $('Get Processing Stats').all().map(item => item.json);\n\n// Calculate totals\nconst totalActive = reports.filter(r => r.is_active).length;\nconst totalContentWeek = reports.reduce((sum, r) => sum + (r.content_this_week || 0), 0);\nconst totalInsightsWeek = reports.reduce((sum, r) => sum + (r.insights_this_week || 0), 0);\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Research Reports Dashboard</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { \n      font-family: -apple-system, Arial, sans-serif; \n      background: #f5f7fa;\n      color: #333;\n      line-height: 1.6;\n    }\n    .container { max-width: 1400px; margin: 0 auto; padding: 20px; }\n    .header {\n      background: white;\n      padding: 30px;\n      border-radius: 12px;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n      margin-bottom: 30px;\n    }\n    h1 { color: #1a472a; font-size: 32px; margin-bottom: 10px; }\n    .subtitle { color: #666; font-size: 16px; }\n    \n    .stats-grid {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));\n      gap: 20px;\n      margin-bottom: 30px;\n    }\n    .stat-card {\n      background: white;\n      padding: 25px;\n      border-radius: 12px;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n      text-align: center;\n    }\n    .stat-number {\n      font-size: 36px;\n      font-weight: bold;\n      color: #1a472a;\n      margin-bottom: 5px;\n    }\n    .stat-label {\n      font-size: 14px;\n      color: #666;\n      text-transform: uppercase;\n    }\n    \n    .content-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 30px;\n      margin-bottom: 30px;\n    }\n    @media (max-width: 768px) {\n      .content-grid { grid-template-columns: 1fr; }\n    }\n    \n    .card {\n      background: white;\n      padding: 25px;\n      border-radius: 12px;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    }\n    .card h2 {\n      color: #2c5530;\n      font-size: 20px;\n      margin-bottom: 20px;\n      padding-bottom: 10px;\n      border-bottom: 2px solid #f0f0f0;\n    }\n    \n    .report-item {\n      padding: 15px;\n      border-bottom: 1px solid #f0f0f0;\n    }\n    .report-item:last-child { border-bottom: none; }\n    .report-name {\n      font-weight: 600;\n      color: #1a472a;\n      margin-bottom: 5px;\n    }\n    .report-stats {\n      display: flex;\n      gap: 20px;\n      font-size: 14px;\n      color: #666;\n      margin-top: 5px;\n    }\n    .report-stat {\n      display: flex;\n      align-items: center;\n      gap: 5px;\n    }\n    \n    .insight-item {\n      padding: 15px;\n      border-bottom: 1px solid #f0f0f0;\n    }\n    .insight-item:last-child { border-bottom: none; }\n    .insight-title {\n      font-weight: 600;\n      color: #1a472a;\n      margin-bottom: 5px;\n    }\n    .insight-summary {\n      font-size: 14px;\n      color: #666;\n      margin-bottom: 5px;\n    }\n    .insight-meta {\n      display: flex;\n      gap: 10px;\n      font-size: 12px;\n      color: #999;\n    }\n    .insight-score {\n      background: #e8f5e9;\n      color: #2e7d32;\n      padding: 2px 8px;\n      border-radius: 12px;\n      font-weight: 600;\n    }\n    \n    .status-active {\n      display: inline-block;\n      background: #e8f5e9;\n      color: #2e7d32;\n      padding: 4px 12px;\n      border-radius: 20px;\n      font-size: 12px;\n      font-weight: 600;\n    }\n    .status-inactive {\n      display: inline-block;\n      background: #ffebee;\n      color: #c62828;\n      padding: 4px 12px;\n      border-radius: 20px;\n      font-size: 12px;\n      font-weight: 600;\n    }\n    \n    .refresh-btn {\n      background: #1a472a;\n      color: white;\n      border: none;\n      padding: 10px 20px;\n      border-radius: 6px;\n      cursor: pointer;\n      font-size: 14px;\n      font-weight: 600;\n    }\n    .refresh-btn:hover { background: #0f2818; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div style=\"display: flex; justify-content: space-between; align-items: center;\">\n        <div>\n          <h1>Research Reports Dashboard</h1>\n          <div class=\"subtitle\">Real-time monitoring of all research workflows</div>\n        </div>\n        <button class=\"refresh-btn\" onclick=\"location.reload()\">Refresh</button>\n      </div>\n    </div>\n    \n    <div class=\"stats-grid\">\n      <div class=\"stat-card\">\n        <div class=\"stat-number\">${totalActive}</div>\n        <div class=\"stat-label\">Active Reports</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"stat-number\">${totalContentWeek}</div>\n        <div class=\"stat-label\">Items This Week</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"stat-number\">${totalInsightsWeek}</div>\n        <div class=\"stat-label\">Insights This Week</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"stat-number\">${reports.length}</div>\n        <div class=\"stat-label\">Total Topics</div>\n      </div>\n    </div>\n    \n    <div class=\"content-grid\">\n      <div class=\"card\">\n        <h2>Report Status</h2>\n        ${reports.map(report => `\n          <div class=\"report-item\">\n            <div style=\"display: flex; justify-content: space-between; align-items: start;\">\n              <div style=\"flex: 1;\">\n                <div class=\"report-name\">${report.report_name}</div>\n                <div class=\"report-stats\">\n                  <div class=\"report-stat\">📊 ${report.content_this_week || 0} this week</div>\n                  <div class=\"report-stat\">💡 ${report.insights_this_week || 0} insights</div>\n                  <div class=\"report-stat\">🏷️ ${report.keyword_count || 0} keywords</div>\n                </div>\n              </div>\n              <div>\n                <span class=\"${report.is_active ? 'status-active' : 'status-inactive'}\">\n                  ${report.is_active ? 'Active' : 'Inactive'}\n                </span>\n              </div>\n            </div>\n          </div>\n        `).join('')}\n      </div>\n      \n      <div class=\"card\">\n        <h2>Recent Top Insights</h2>\n        ${insights.map(insight => `\n          <div class=\"insight-item\">\n            <div class=\"insight-title\">${insight.title}</div>\n            <div class=\"insight-summary\">${insight.summary.substring(0, 150)}...</div>\n            <div class=\"insight-meta\">\n              <span>${insight.report_name}</span>\n              <span>•</span>\n              <span>${insight.insight_type}</span>\n              <span>•</span>\n              <span class=\"insight-score\">${(insight.importance_score * 10).toFixed(1)}/10</span>\n            </div>\n          </div>\n        `).join('')}\n      </div>\n    </div>\n    \n    <div class=\"card\">\n      <h2>Processing Activity (Last 7 Days)</h2>\n      <div style=\"padding: 20px;\">\n        ${stats.length > 0 ? stats.map(day => `\n          <div style=\"display: flex; justify-content: space-between; padding: 10px 0; border-bottom: 1px solid #f0f0f0;\">\n            <span>${new Date(day.process_date).toLocaleDateString()}</span>\n            <span><strong>${day.total_processed}</strong> items from ${day.active_reports} reports</span>\n          </div>\n        `).join('') : '<p style=\"text-align: center; color: #999;\">No processing activity in the last 7 days</p>'}\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn { json: { html } };"
        },
        "id": "create_dashboard",
        "name": "Create Dashboard HTML",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [800, 400]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "respond",
        "name": "Respond with HTML",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1000, 400],
        "responseMode": "responseNode",
        "responseData": "={{ $json.html }}"
      }
    ],
    "connections": {
      "Dashboard Webhook": {
        "main": [[{"node": "Get Reports Overview", "type": "main", "index": 0}]]
      },
      "Get Reports Overview": {
        "main": [[
          {"node": "Get Top Insights", "type": "main", "index": 0},
          {"node": "Get Processing Stats", "type": "main", "index": 0}
        ]]
      },
      "Get Top Insights": {
        "main": [[{"node": "Create Dashboard HTML", "type": "main", "index": 0}]]
      },
      "Get Processing Stats": {
        "main": [[{"node": "Create Dashboard HTML", "type": "main", "index": 0}]]
      },
      "Create Dashboard HTML": {
        "main": [[{"node": "Respond with HTML", "type": "main", "index": 0}]]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "dashboard-v1",
    "id": "Dashboard001",
    "tags": ["monitoring", "dashboard"]
  }